@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', 'sans-serif';
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

h1 {
  font-weight: 700;
}

p {
  font-size: 18px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}

.attribution {
  background-color: hsl(0, 0%, 100%);
  background-size: contain;
  padding: 16px;
  border-radius: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#qrcode {
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

.textarea {
  margin: 20px;
}

footer {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px){
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%; margin-top: 10%; margin-left: 38%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
}
